<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:tools="http://schemas.android.com/tools"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"
        tools:ignore="ForegroundServicesPolicy" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:name=".core.MusicPlayerApp"
        android:icon="@mipmap/app_icon_background"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_icon_background_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DroidDevTipsExamples">
        <activity
            android:name=".ui.MusicPlayerActivity"
            android:launchMode="singleTop"
            android:exported="true"
            android:theme="@style/Theme.DroidDevTipsExamples">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".core.MusicPlayerService"
            android:exported="false"
            android:foregroundServiceType="mediaPlayback">
            <intent-filter>
                <action android:name="androidx.media3.session.MediaSessionService"/>
            </intent-filter>
        </service>

    </application>

</manifest>